wp-admin/
wp-includes/
wp-content/index.php
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/
wp-content/backup-db/
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
sitemap.xml
*.log
*.txt
*.html
wp-content/cache/
wp-content/backups/
sitemap.xml.gz
wp-config.php
.DS_Store
*.php